body {
	overflow-x: hidden;
}
/*navbar*/
.navbar-custom {
	margin-bottom: 0;
	background-color: #FFFFFF;
	border: none;
}
.navbar-form .form-control-custom {
	margin-top: 22px;
	background-color: #FFFFFF;
    background-image: none;
    border: 2px solid #e1dabd;
    border-radius: 0;
    box-shadow: none ;
    color: #555555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.navbar-form .btn-custom {
	margin-top: 22px;
	background-color: #d21c1a;
	border-radius: 0px;
	border: 0px;
	cursor: pointer;
	padding: 0px; 
	color: #fff;
	margin-left: -5px;
}
.navbar-form .btn-custom:hover, .navbar-form .btn-custom:active:hover, .navbar-form .btn-custom:active, .navbar-form .btn-custom:focus {
	color: #fff;
	background-color: #bb1919;
}
span .glyphicon-search-custom {
	color: #FFFFFF;
	font-size: 13px;
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1; */
}
/*navbar2*/
 .navbar-custom-2 {
	background-color: #d21c1a;
	margin-bottom: 0;
	border-radius: 0;
	border: none;
}
nav ul > li {
	color: #FFFFFF;
	text-transform: uppercase;
}
.navbar-custom-2 .navbar-nav>li>a, .navbar-custom-2 .navbar-nav>li>a:focus, .navbar-custom-2 .navbar-nav>li>a:active {
	color: #FFFFFF; 
}
.navbar-custom-2 .navbar-nav>li>a:hover {
	color: #000000;	
}
.navbar-custom-2 .navbar-nav>.open>a, .navbar-custom-2 .navbar-nav>.open>a:focus,  .navbar-custom-2 .navbar-nav>.open>a:hover {
	color: #000000;
	background-color: inherit;
}
.nav .dropdown .dropdown-menu-custom {
	background-color: #bd1918;
	border: none;
}
.nav .dropdown .dropdown-menu-custom:active {
	background-color: #d21c1a;
}
.nav .dropdown .dropdown-menu-custom>li>a {
	color: #FFFFFF;
	text-transform: capitalize;
}
.nav .dropdown .dropdown-menu-custom>li>a:hover, .nav .dropdown .dropdown-menu-custom>li>a:focus, .nav .dropdown .dropdown-menu-custom>li>a:visited {
	background-color: #bb1919;
}
.container-fluid {
	padding: 0;
}
#myCarousel > a.right.carousel-control {
	z-index: 2;
}
/*JOIN*/
.join {
	position: absolute;
	top: 300px;
	left: 0px;
	z-index: 1;
}
.join_text i.fa {
	color: #bb1919;
	padding-right: 10px;
}
.join:hover {
	cursor: pointer;
}
.join_text h3 {
	text-transform: uppercase;
}
.carousel .carousel-inner div.item.active .example1 {
	background-image: url(http://i.imgur.com/0imVJF9.jpg);
	height: 493px;
}
.carousel .carousel-inner div.item.active .example2 {
	background-image: url(http://i.imgur.com/0imVJF9.jpg);
	height: 493px;
}
.carousel .carousel-inner div.item.active .example3 {
	background-image: url(http://i.imgur.com/0imVJF9.jpg);
	height: 493px;
}
.carousel .carousel-inner div.item.active .example4 {
	background-image: url(http://i.imgur.com/0imVJF9.jpg);
	height: 493px;
}
/*about*/
.col-lg-3 img {
	padding-top: 70px;
	padding-bottom: 70px;
}
.col-lg-9 {
	padding-top: 70px;
	padding-bottom: 70px;	
}
.col-lg-9 h3:before {
	content: url(images/PUT_line_white.jpg);
	padding-right: 22px;
}
.about {
	list-style-type: none;
    list-style-image: url(images/PUT_list.jpg);
    padding-left: 20px;
}
.blog {
	background-color: #eee7d7;
}
.blog h3:before, .calendar > div:nth-child(1) > h3:before {
	content: url("images/PUT_line_color.jpg");
	padding-right: 22px;
}
.thumbnail h5 {
	padding-left: 10px; 	
}
.btn-custom-small {
	background-color: #FFFFFF; 	
	border: none;
	color: #d21c1a;
	text-transform: uppercase;
}
.btn-custom-small:hover {
	background-color: #FFFFFF;
	color: #000000;
}
.btn-custom-small:active, .btn-custom-small:focus {
	background-color: #FFFFFF;
	color: #d21c1a;
	border: none;
}
.thumbnail-custom {
	border: none;
	border-radius: 0;
	border: 1px solid #d21c1a;
}
.text-center .btn-custom-lg {
	background-color: transparent;
	border: 1px solid #d21c1a;	
	color: #d21c1a;	
	text-transform: uppercase;
}
.logo, legend {
	margin-top: 50px;
}
.logo h4:before {
	content: url("images/PUT_line_white.jpg");
	padding-right: 22px;
}
.logo h4:after {
	content: url("images/PUT_line_white_2.jpg");
	padding-left: 22px;
}
.logo {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
   -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  cursor:pointer;
}
.logo:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
}
.calendar {
	background-color: #eee7d7;
}
.calendar_data{
	background-color: #908c81;
}
.calendar .col-md-8, .calendar .events {
	background-color: #FFFFFF;
}
.calendar .col-md-4 {
	padding-left: 0;
}
.calendar .col-md-8  i.fa, .calendar .col-md-8 .row .media h5 i.fa {
	padding-right: 10px;
}
.calendar div.col-md-8 div.row {
	margin-left: 0px;
}
.row .media .media-heading:hover {
	color: #d21c1a;
	cursor: pointer;
}
.calendar > div:nth-child(2) {
	margin-top: 5px;
	background-color: #FFFFFF;
}
.col-md-6 .media-body {
	padding-top: 15%;
}
iframe {
	z-index: -2;
	position: absolute;
	border: none; 
}
.layer {
	background-color: rgba(238,231,215,0.7);
	position: absolute;
	z-index: -1;
	overflow-y: hidden;
}
.filter {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.map .container .row h4 {
	padding-top: 50px;
	z-index: 2;
}
.map .container .row .col-md-6 .address {
	background-color: rgba(255,255,255,0.8);
	margin-top: 100px;
	padding: 23px 30px 27px 27px;
	margin-left: 150px;
}
.map .container .row .col-md-6 .address i.fa {
 	padding-right: 10px;
	color: #d21c1a;
}
.map .container .row .col-md-6 .address h5 {
	padding-top: 20px;
}
.map .container .row .col-md-6 form {
	margin-top: 80px;
}
.map .container .row .col-md-6 form .form-group-custom{
	margin-bottom: 0px;
}
.map .container .row .col-md-6 form .form-group-custom input {
	border: none;
	border-radius: 0px;
	margin-bottom: 0px;
	padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
}
.map .container .row .col-md-6 form .form-group-custom .form-control {
	border: none;
	border-radius: 0px;
	margin-bottom: 0px;
	padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
}
.map .container .row .col-md-6 button.btn.btn-custom-submit {
	background-color: transparent;
	border: 1px solid #d21c1a;	
	color: #d21c1a;	
	text-transform: uppercase;
	margin-left: 250px;
	margin-top: 20px;
	margin-bottom: 20px;
}
footer {
	background-color: #908c81;

}
.navbar.navbar-footer {
	background-color: transparent;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #FFFFFF;
}
.navbar.navbar-footer .nav.navbar-nav-footer > li > a {
	color: #e4e0d5;
}
.navbar.navbar-footer .nav.navbar-nav-footer > li > a:hover {
	color: #000000;
}
.navbar.navbar-footer .nav.navbar-nav-footer > li:hover {
	background-color: transparent;
}
.social {
	margin-top: 10px;
}
.social button {
	background-color: #e4e0d5;
	border: none; 
	border-radius: 2px;
	height: 25px;
	width: 25px;
	line-height: 25px;
	margin-right: 10px;
}
.social button i.fa {
	color: #908c81;
}
footer p	 {
	color: #e4e0d5;
}
/*MEDIA SMARTPHONE*/
@media(max-width: 767px) {
.navbar-brand {
	padding: 10px;
}
.navbar-brand img {
	height: 100%;
}
.navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-form .btn-custom {
	height: 34px;
	width: 34px;
}
.navbar-default .navbar-nav .open .dropdown-menu >li>a{
		color: #FFFFFF;
}
.navbar-custom-2 {
	z-index: 3;
}
.navbar-form .form-control-custom {
	height: 34px;
    width: 100%;
}
.join img {
	width: 60%;
	height: 60%;
}
.join_us {
	background-color: rgba(255,255,255,0.5);
	overflow: hidden;
	position: absolute;
	top: 450px;
	z-index: 1;
	width: 100%;
	height: 100px;
}
.join_text {
	position: absolute;
	color: #000000;
	top: 450px;
	left: 15vw;
	z-index: 3;
	margin: 0 auto; 
}
.col-sm-3 {
	display: flex;
	justify-content: center;
	padding-bottom: 0;
}
.col-lg-9  {
	padding-top: 0;
}
.col-lg-9 h3 {
	margin-left: 15vw;
}
.blog h3 {
 	margin-left: 10vw;
}
.text-center button {
	margin-bottom: 10%;
}
#carousel-example-generic .left a{
	width: 100px;
}
.calendar_data{
	height: 326px;
	width: 390px;
}
.calendar h3 {
	padding-bottom: 5%;
	padding-top: 5%;
	text-align: center;
}
.col-lg-9 h3, .blog h3{
	text-align: center;
	margin-left: 0;
}
.calendar .col-md-8 h3:before, .calendar .events h3:before, .col-lg-9 h3:before, .blog h3:before, .calendar div h3:before, .calendar > div:nth-child(1) > h3:before   {
	content: none;
}
.layer {
	height: 1020px;
	width: 100%;
}
.map .container .row .col-md-6 .address {
	margin: 0; 
}
.map .container .row .col-md-6 form .form-group-custom input {
	width: 100%;
	height: 34px;
}
.map .container .row .col-md-6 form .form-group-custom .form-control {
	width: 100%;
}
iframe {
	width: 100%;
	height: 200%;
}
.map .container .row .col-md-6 {
	text-align: center;
}
.map .container .row .col-md-6 button.btn.btn-custom-submit {
	margin-left: 0;
}
footer .navbar-footer .navbar-nav-footer {
	text-align: center;
}
.navbar-form {
	margin: 0;
	display: flex;
	justify-content: center;
	max-width: 100%;
}
.navbar-form .form-group {
	margin-bottom: 0;
}
footer .social {
	text-align: center;
}
footer p	 {
	text-align: center;
}
}
/*MEDIA DESKTOP*/
@media(min-width: 1200px) {
body {
	overflow-x: hidden;
}
.navbar-custom {
	height: 97px;
}
.navbar-custom-2 {
	height: 45px; 
}
.navbar-form .btn-custom {
	height: 34px;
	width: 34px;
	}
.navbar-form .form-control-custom {
    height: 34px;
    width: 100%;
}
.join_us {
	height: 530px;
	width: 1000px;
}
.join_us {
	-ms-transform: skewX(-20deg); /* IE 9 */
    -webkit-transform: skewX(-20deg); /* Safari */
    transform: skewX(-20deg); /* Standard syntax */
	background-color: rgba(255,255,255,0.8);
	overflow: hidden;
	position: absolute;
	top: 147px;
	left: 58vw;
	z-index: 1;
}
.join_text {
	position: absolute;
	color: #000000;
	top: 450px;
	left: 60vw;
	z-index: 3;
}
.blog {
	height: 550px;
}
.calendar {
	height: 800px;
}
.calendar_data {
	height: 326px;
	width: 390px;
}
.calendar .events {
	height: 350px;
}
.layer {
	height: 578px;
	width: 100%;
}
iframe {
	width: 100%;
	height: 600px;
}
footer {
	background-color: #908c81;
	height: 120px;
}
}