body {
	overflow-x: hidden;
}
/*navbar*/
.navbar-custom {
	margin-bottom: 0;
	background-color: #FFFFFF;
	border: none;
}
.navbar-form .form-control-custom {
	margin-top: 22px;
	background-color: #FFFFFF;
    background-image: none;
    border: 2px solid #e1dabd;
    border-radius: 0;
    box-shadow: none ;
    color: #555555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.navbar-form .btn-custom {
	margin-top: 22px;
	background-color: #d21c1a;
	border-radius: 0px;
	border: 0px;
	cursor: pointer;
	padding: 0px; 
	color: #fff;
	margin-left: -5px;
}
.navbar-form .btn-custom:hover, .navbar-form .btn-custom:active:hover, .navbar-form .btn-custom:active, .navbar-form .btn-custom:focus {
	color: #fff;
	background-color: #bb1919;
}
span .glyphicon-search-custom {
	color: #FFFFFF;
	font-size: 13px;
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1; */
}
/*navbar2*/
.navbar-custom-2 {
	background-color: #d21c1a;
	margin-bottom: 0;
	border-radius: 0;
	border: none;
}
nav ul > li {
	color: #FFFFFF;
	text-transform: uppercase;
}
.navbar-custom-2 .navbar-nav>li>a {
	color: #FFFFFF; 
}
.navbar-custom-2 .navbar-nav>li>a:hover {
	color: #000000;	
}
.navbar-custom-2 .navbar-nav>.open>a, body .navbar-custom-2 .navbar-nav>.open>a:focus, body .navbar-custom-2 .navbar-nav>.open>a:hover {
	color: #000000;
	background-color: inherit;
}
.nav .dropdown .dropdown-menu-custom {
	background-color: #d21c1a;
	border: none;
}
.nav .dropdown .dropdown-menu-custom:active {
	background-color: #d21c1a;

}
.nav .dropdown .dropdown-menu-custom>li>a {
	color: #FFFFFF;
	text-transform: capitalize;
}
.nav .dropdown .dropdown-menu-custom>li>a:hover, .nav .dropdown .dropdown-menu-custom>li>a:focus  {
	background-color: #bb1919;
}
div.container-fluid {
	padding: 0;
}
/*JOIN*/
.join {
	position: absolute;
	top: 300px;
	left: 0px;
	z-index: 3;
}
.breadcrumb-custom {
	background-color: #eee7d7; 
}
.nav-breadcrumb-custom {
	background-color: transparent;
	margin-top: 32px;
}
.nav-breadcrumb-custom a {
	color: #908c81;
	text-decoration: none;
}
.nav-breadcrumb-custom a:after {
	content:" > ";
	color: #000000;
	padding-left: 5px;
	padding-right: 5px;
}
.nav-breadcrumb-custom a:after {
	content:" > ";
}
.nav-breadcrumb-custom a:nth-child(3):after{
	content: none;
}
.nav-breadcrumb-custom .active-custom {
	color: #000000;
}
.members-logo h4 {
	margin-top: 60px;
}
.members-logo .col-md-4 .image {
	border: 1px solid #eee7d7;
}
.members-logo .col-md-4 .image .line {
	border-bottom: 2px solid #eee7d7;
	margin-left: 30px;
	padding-top: 66px;
}
.image img {
	padding-top: 66px;
	padding-left: 15%;
}
.members-logo .col-md-4 .data {
	padding-top: 5px;
	padding-left: 30px;
}
.members-logo .col-md-4 .data p i.fa {
 	padding-right: 10px;
	color: #d21c1a;
}
.members-logo .col-md-4 .data p:nth-child(1){
	text-decoration: underline;
	color: #d21c1a;
}
.members-logo .row {
	margin-bottom: 26px;
	padding-bottom: 26px;
}
.data {
	padding-top: 18px;
}
footer {
	background-color: #908c81;
}
.navbar.navbar-footer {
	background-color: transparent;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #FFFFFF;
}
.navbar.navbar-footer .nav.navbar-nav-footer > li > a {
	color: #e4e0d5;
}
.navbar.navbar-footer .nav.navbar-nav-footer > li > a:hover {
	color: #000000;
}
.navbar.navbar-footer .nav.navbar-nav-footer > li:hover {
	background-color: transparent;
}
.social {
	margin-top: 10px;
}
.social button {
	background-color: #eee7d7; 
	border: none; 
	border-radius: 2px;
	height: 25px;
	width: 25px;
	line-height: 25px;
	margin-right: 10px;
}
.social button i.fa {
	color: #908c81;
}
footer p {
	color: #e4e0d5;
}
/*MEDIA SMARTPHONE*/
@media(max-width: 767px) {
.navbar-brand {
	padding: 10px;
}
.navbar-brand img {
	height: 100%;
}
.navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-form .btn-custom {
	height: 34px;
	width: 34px;
}
.navbar-form .form-control-custom {
	height: 34px;
    width: 100%;
}
.join {
	display: none;
}
.navbar-form {
	margin: 0;
	display: flex;
	justify-content: center;
	max-width: 100%;
}
.navbar-form .form-group {
	margin-bottom: 0;
}
.navbar-default .navbar-nav .open .dropdown-menu >li>a{
		color: #FFFFFF;
}
.members-logo h4{
	text-align: center;
}
.members-logo .row .col-md-4 {
	margin-bottom: 10%;
}
.navbar-footer .navbar-nav-footer {
	text-align: center;
}
.social {
	text-align: center;
}
footer p {
	text-align: center;
}
}
/*MEDIA DESKTOP*/
@media(min-width: 1200px) {
body {
	overflow-x: hidden;
}
.navbar-custom {
	height: 97px;
}
.navbar-form .btn-custom {
	height: 34px;
	width: 34px;
	}
.navbar-form .form-control-custom {
    height: 34px;
    width: 100%;
}
.join_us {
	height: 530px;
	width: 1000px;
}
.navbar-custom-2 {
	height: 45px; 
}
.members-logo h4:before {
	content: url(images/PUT_line_white.jpg);
	padding-right: 22px;
}
.breadcrumb-custom {
	background-color: #eee7d7; 
	height: 67px; 
}
.members-logo .col-md-4 .image {
	height: 380px;	
	width: 340px;
}
.members-logo .col-md-4 .image .image-logo {
	width: 340px;
	height: 130px;
}
.members-logo .col-md-4 .image .line {
	width: 70px;
}
footer {
	height: 120px;
}
}
